This is a project in "Python Intermediate" course of Dataquest. In this project, we'll work with a data set of submissions to popular technology site Hacker News.

Hacker News is a site started by the startup incubator Y Combinator, where user-submitted stories (known as "posts") are voted and commented upon, similar to reddit. Hacker News is extremely popular in technology and startup circles, and posts that make it to the top of Hacker News' listings can get hundreds of thousands of visitors as a result.

The full data set is [here](https://www.kaggle.com/hacker-news/hacker-news-posts), in this project, it has been reduced from almost 300,000 rows to approximately 20,000 rows by removing all submissions that did not receive any comments, and then randomly sampling from the remaining submissions. Below are descriptions of the columns:

- id: The unique identifier from Hacker News for the post
- title: The title of the post
- url: The URL that the posts links to, if it the post has a URL
- num_points: The number of points the post acquired, calculated as the total number of upvotes minus the total number of downvotes
- num_comments: The number of comments that were made on the post
- author: The username of the person who submitted the post
- created_at: The date and time at which the post was submitted

Here are the first few rows of the data set:

<table>
 <thead>
  <tr style='height:43.5pt'>
   <td>id
   </td>
   <td>title
   </td>
   <td>url
   </td>
   <td>num_points
   </td>
   <td>num_comments
   </td>
   <td>author
   </td>
   <td>created_at
   </td>
  </tr>
 </thead>
 <tr>
  <td>12224879</td>
  <td>Interactive Dynamic Video</td>
  <td>http://www.interactivedynamicvideo.com/</td>
  <td>386</td>
  <td>52</td>
  <td>ne0phyte</td>
  <td>8/4/2016 11:52</td>
 </tr>
  <tr>
  <td>10975351</td>
  <td>How to Use Open Source and Shut the F*ck Up at the Same Time</td>
  <td>http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/</td>
  <td>39</td>
  <td>10</td>
  <td>josep2</td>
  <td>1/26/2016 19:30</td>
 </tr>
</table>

## Data Loading

In [1]:
from csv import reader
import datetime as dt

In [2]:
def read_csv_file(filename):
    opened_file = open(filename)
    file_content = reader(opened_file)
    lst = list(file_content)
    opened_file.close()
    
    return lst[0], lst[1:]

def display_table(dataset, start, end, information=False):
    ds = dataset[start:end]
    for row in ds:
        print(row)
        print('\n') # adds a new (empty) line after each row
        
    if (information == True):
        print('Number of rows:', len(ds))
        print('Number of columns:', len(ds[0]))

In [3]:
headers, hn = read_csv_file("hacker_news.csv")
print(headers)
display_table(hn, 0, 5, True)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']


['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']


['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']


['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']


['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']


Number of rows: 5
Number of columns: 7

In [4]:
ask_posts = []
show_posts = []
other_posts = []

for row in hn:
    title = row[1]
    title = title.lower()
    if (title.startswith("ask hn")):
        ask_posts.append(row)
    elif (title.startswith("show hn")):
        show_posts.append(row)
    else:
        other_posts.append(row)
        
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

In [5]:
ask_posts[:5]

[['12296411',
  'Ask HN: How to improve my personal website?',
  '',
  '2',
  '6',
  'ahmedbaracat',
  '8/16/2016 9:55'],
 ['10610020',
  'Ask HN: Am I the only one outraged by Twitter shutting down share counts?',
  '',
  '28',
  '29',
  'tkfx',
  '11/22/2015 13:43'],
 ['11610310',
  'Ask HN: Aby recent changes to CSS that broke mobile?',
  '',
  '1',
  '1',
  'polskibus',
  '5/2/2016 10:14'],
 ['12210105',
  'Ask HN: Looking for Employee #3 How do I do it?',
  '',
  '1',
  '3',
  'sph130',
  '8/2/2016 14:20'],
 ['10394168',
  'Ask HN: Someone offered to buy my browser extension from me. What now?',
  '',
  '28',
  '17',
  'roykolak',
  '10/15/2015 16:38']]

In [6]:
show_posts[:5]

[['10627194',
  'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform',
  'https://iot.seeed.cc',
  '26',
  '22',
  'kfihihc',
  '11/25/2015 14:03'],
 ['10646440',
  'Show HN: Something pointless I made',
  'http://dn.ht/picklecat/',
  '747',
  '102',
  'dhotson',
  '11/29/2015 22:46'],
 ['11590768',
  'Show HN: Shanhu.io, a programming playground powered by e8vm',
  'https://shanhu.io',
  '1',
  '1',
  'h8liu',
  '4/28/2016 18:05'],
 ['12178806',
  'Show HN: Webscope  Easy way for web developers to communicate with Clients',
  'http://webscopeapp.com',
  '3',
  '3',
  'fastbrick',
  '7/28/2016 7:11'],
 ['10872799',
  'Show HN: GeoScreenshot  Easily test Geo-IP based web pages',
  'https://www.geoscreenshot.com/',
  '1',
  '9',
  'kpsychwave',
  '1/9/2016 20:45']]

In [7]:
def avg_comments(posts):
    total_comments = 0
    
    for row in posts:
        num_comments = int(row[4])
        total_comments += num_comments

    avg_comments = total_comments/len(posts)

    return avg_comments

In [8]:
avg_ask_comments = avg_comments(ask_posts)
avg_show_comments = avg_comments(show_posts)
print("The average comment of ask posts is {:.2f}".format(avg_ask_comments))
print("The average comment of show posts is {:.2f}".format(avg_show_comments))

The average comment of ask posts is 14.04
The average comment of show posts is 10.32

Since ask posts are more likely to receive comments, we'll focus our remaining analysis just on these posts.

Next, we'll determine if ask posts created at a certain time are more likely to attract comments. We'll use the following steps to perform this analysis:

- Calculate the amount of ask posts created in each hour of the day, along with the number of comments received.
- Calculate the average number of comments ask posts receive by hour created.

In [9]:
result_list = []
for row in ask_posts:
    created_dt_str = row[6] #created_at column
    num_comments = int(row[4]) #num_comments column
    
    result_list.append([created_dt_str, num_comments])

In [10]:
result_list[:5]

[['8/16/2016 9:55', 6],
 ['11/22/2015 13:43', 29],
 ['5/2/2016 10:14', 1],
 ['8/2/2016 14:20', 3],
 ['10/15/2015 16:38', 17]]

In [11]:
counts_by_hour = {}
comments_by_hour = {}

for row in result_list:
    created_dt_str = row[0]
    num_comments = int(row[1]) #num_comments column
    
    # convert to datetime type
    created_dt = dt.datetime.strptime(created_dt_str, "%m/%d/%Y %H:%M")
    # extract the hours of the date
    hour = created_dt.hour
    
    if hour in comments_by_hour:
        comments_by_hour[hour] += num_comments
        counts_by_hour[hour] += 1
    else:
        comments_by_hour[hour] = num_comments
        counts_by_hour[hour] = 1

So far, we created two dictionaries:

- counts_by_hour: contains the number of ask posts created during each hour of the day.

- comments_by_hour: contains the corresponding number of comments ask posts created at each hour received.

In [12]:
counts_by_hour

{9: 45,
 13: 85,
 10: 59,
 14: 107,
 16: 108,
 23: 68,
 12: 73,
 17: 100,
 15: 116,
 21: 109,
 20: 80,
 2: 58,
 18: 109,
 3: 54,
 5: 46,
 19: 110,
 1: 60,
 22: 71,
 8: 48,
 4: 47,
 0: 55,
 6: 44,
 7: 34,
 11: 58}

In [13]:
comments_by_hour

{9: 251,
 13: 1253,
 10: 793,
 14: 1416,
 16: 1814,
 23: 543,
 12: 687,
 17: 1146,
 15: 4477,
 21: 1745,
 20: 1722,
 2: 1381,
 18: 1439,
 3: 421,
 5: 464,
 19: 1188,
 1: 683,
 22: 479,
 8: 492,
 4: 337,
 0: 447,
 6: 397,
 7: 267,
 11: 641}

Next, we'll use these two dictionaries to calculate the average number of comments for posts created during each hour of the day.

In [14]:
avg_by_hour = []
for hour in counts_by_hour:
    cnt = counts_by_hour[hour]
    num_comments = comments_by_hour[hour]
    
    avg_by_hour.append([hour, round(num_comments/cnt, 2)])

In [15]:
avg_by_hour

[[9, 5.58],
 [13, 14.74],
 [10, 13.44],
 [14, 13.23],
 [16, 16.8],
 [23, 7.99],
 [12, 9.41],
 [17, 11.46],
 [15, 38.59],
 [21, 16.01],
 [20, 21.52],
 [2, 23.81],
 [18, 13.2],
 [3, 7.8],
 [5, 10.09],
 [19, 10.8],
 [1, 11.38],
 [22, 6.75],
 [8, 10.25],
 [4, 7.17],
 [0, 8.13],
 [6, 9.02],
 [7, 7.85],
 [11, 11.05]]

Let's finish by sorting the list of lists and printing the five highest values in a format that's easier to read.

In [16]:
swap_avg_by_hour = []
for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])

In [17]:
swap_avg_by_hour

[[5.58, 9],
 [14.74, 13],
 [13.44, 10],
 [13.23, 14],
 [16.8, 16],
 [7.99, 23],
 [9.41, 12],
 [11.46, 17],
 [38.59, 15],
 [16.01, 21],
 [21.52, 20],
 [23.81, 2],
 [13.2, 18],
 [7.8, 3],
 [10.09, 5],
 [10.8, 19],
 [11.38, 1],
 [6.75, 22],
 [10.25, 8],
 [7.17, 4],
 [8.13, 0],
 [9.02, 6],
 [7.85, 7],
 [11.05, 11]]

In [18]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)

In [19]:
sorted_swap

[[38.59, 15],
 [23.81, 2],
 [21.52, 20],
 [16.8, 16],
 [16.01, 21],
 [14.74, 13],
 [13.44, 10],
 [13.23, 14],
 [13.2, 18],
 [11.46, 17],
 [11.38, 1],
 [11.05, 11],
 [10.8, 19],
 [10.25, 8],
 [10.09, 5],
 [9.41, 12],
 [9.02, 6],
 [8.13, 0],
 [7.99, 23],
 [7.85, 7],
 [7.8, 3],
 [7.17, 4],
 [6.75, 22],
 [5.58, 9]]

Print the string "Top 5 Hours for Ask Posts Comments".

In [20]:
for row in sorted_swap[:5]:
    print("{}:00: {} average comments per post".format(row[1], row[0]))

15:00: 38.59 average comments per post
2:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.8 average comments per post
21:00: 16.01 average comments per post

Based on the result, we can see that the appropriate time for creating a post to have a higher chance of receiving comments is around 15:00 to 15:59.